<!-- All HTML heavily derived from:
https://code.tutsplus.com/series/creating-a-web-app-from-scratch-using-python-flask-and-mysql\-\-cms-827 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>bitMarks Learning Record</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
  </head>

  <body>
    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="showSignIn">Sign In</a></li>
            <li role="presentation"><a href="showSignUp">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">bitMarks Blockchain</h3>
      </div>

      <div class="jumbotron">
        <h1>Welcome to bitMarks!</h1>
        <p class="lead"></p>
          <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today!</a>
        </p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>As a learner...</h4>
          <p>Create addresses to store your learning records!  You can use these addresses to track your learning history and share it with employers, schools, even your friends!  With your learning address you will be able to permanently store your learning history on the bitMarks block chain!  Don't worry, you learning history is only shared with those you trust!</p>

          <h4>As an issuer...</h4>
          <p>Create addresses for your educational institution!  Create classes, exams, even degrees for learners and track their outcomes with bitMarks!  Record all learning outcomes on the block chain!  You maintain control of your signing keys to ensure that credentials you award are not compromised!  Safely and permanently store all your learning outcomes on the bitMarks block chain!</p>

          <h4>Other users...</h4>
          <p>View the learning records of a learning address!  Verify all learning transactions and trust that validated ones are issued by the recording institution!  Have confidence that a learner's academic claims are true!  Don't have a learner address?  Check out the bitMarks ledger and see what folks have been learning and how they've been doing!</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; EdTech 2017</p>
      </footer>
    </div>
  </body>
</html>
