<!-- All HTML heavily derived from:
https://code.tutsplus.com/series/creating-a-web-app-from-scratch-using-python-flask-and-mysql\-\-cms-827 -->
<!DOCTYPE html>
<html lang="en">
  <head>

    <title>bitMarks Learning Record</title>

    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/signup.css" rel="stylesheet">

    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/signUp.js"></script>
  </head>

  <body>

    <div class="container">

      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" ><a href="/">Home</a></li>
            <li role="presentation"><a href="/showSignIn">Sign In</a></li>
            <li role="presentation" class="active"><a href="#">Sign Up</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">bitMarks Blockchain</h3>
      </div>

      <div class="jumbotron">
        <h1>Sign Up</h1>
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
        <label>I'd like to use bitMarks as a ...</label>
        <select type="usertype" name="inputType" id="inputType" class="form-control">
          <option>Learner</option>
          <option>Issuer</option>
          <option>"Other" User</option>
        </select>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign Up!</button>
      </form>
      </div>

      <div class="row instructions">
        <div class="col-lg-6">
          <h3>IMPORTANT NOTICE!</h3>
          <p>Do not use a real email or password!  For this prototype, the passwords are stored unhashed and in plaintext!  Also, after submitting a 'Sign Up!', you must navigate to the 'Sign In' page manually (this is a bug).</p>
        </div>
      </div>

      <footer class="footer">
        <p>&copy; EdTech 2017</p>
      </footer>
    </div>
  </body>
</html>
